head {
    border-style: solid;
    border-width: medium;
    border-color: lightgoldenrodyellow;
    
}

body {
    background-color: lightblue;
    border-color: red;
    border-width: medium;
    border-style: solid;
}

p {
    background-color: lightcoral;
    opacity: 0.8;
}