html {
    background-color: #111111;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-left: auto;
}

h1 {
    color:#ffff00;
    position: -webkit-sticky;
    position: sticky;
    top: 40px;
    background-color: darkblue;
}

h2 {
    color: lime;
    position: -webkit-sticky;
    position: sticky;
    top: 80px;
    background-color: darkblue;
}

h3 {
    color: lightgrey;
}

pre.header {
    border-style: solid;
    border-width: medium;
    border-color: lightgoldenrodyellow;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 3em;
    margin-right: 10em;
    width: 600px;
}

body {
    border-width: medium;
    border-style: solid;
    border-color: blue;
}

p.refwarn {
    font-style: oblique;
}

pre.prettyprint {
    background-color: #888888;
}
code {
    background-color: #888888;
    font-size: 0.7em;
    color: white;
    font-family: Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, serif;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}